In [ ]:
#PROJECT AMAZON

In [156]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [157]:
Amazon_Dataset = pd.read_csv(r'C:\Users\Ab\Downloads\Amazon Sale Report.csv')
Amazon_Dataset

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,fulfilled-by,New,PendingS
0,0,405-8078784-5731545,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,Easy Ship,NaN,NaN
1,1,171-9198151-1101146,4/30/2022,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,Easy Ship,NaN,NaN
2,2,404-0687676-7273146,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,NaN,NaN,NaN
3,3,403-9615377-8133951,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,Easy Ship,NaN,NaN
4,4,407-1069790-7240320,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128971,128970,406-6001380-7673107,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,False,NaN,NaN,NaN
128972,128971,402-9551604-7544318,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,M,Shipped,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,False,NaN,NaN,NaN
128973,128972,407-9547469-3152358,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,Blazzer,XXL,Shipped,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,False,NaN,NaN,NaN
128974,128973,402-6184140-0545956,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,XS,Shipped,...,INR,1199.00,Halol,Gujarat,389350.0,IN,False,NaN,NaN,NaN
128975,128974,408-7436540-8728312,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,S,Shipped,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,False,NaN,NaN,NaN

In [158]:
#LET'S REMOVE DUPLICATES
Amazon_Dataset_new = Amazon_Dataset.drop_duplicates()
Amazon_Dataset_new

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,fulfilled-by,New,PendingS
0,0,405-8078784-5731545,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,Easy Ship,NaN,NaN
1,1,171-9198151-1101146,4/30/2022,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,Easy Ship,NaN,NaN
2,2,404-0687676-7273146,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,NaN,NaN,NaN
3,3,403-9615377-8133951,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,Easy Ship,NaN,NaN
4,4,407-1069790-7240320,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128971,128970,406-6001380-7673107,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,False,NaN,NaN,NaN
128972,128971,402-9551604-7544318,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,M,Shipped,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,False,NaN,NaN,NaN
128973,128972,407-9547469-3152358,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,Blazzer,XXL,Shipped,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,False,NaN,NaN,NaN
128974,128973,402-6184140-0545956,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,XS,Shipped,...,INR,1199.00,Halol,Gujarat,389350.0,IN,False,NaN,NaN,NaN
128975,128974,408-7436540-8728312,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,S,Shipped,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,False,NaN,NaN,NaN

In [ ]:
# LET'S SAY WE WANNA EXPAND OUR ROWS AND COLUMNS, WE CAN DO THAT BY
pd.set_option('display.max.rows', 128808)
pd.set_option('display.max.columns', 21)

In [159]:
#NOW THERE ARE OBVIOUSLY SOME COLUMNS WE SHAN'T BE WORKING WITH AND WOULD LIKE TO REMOVE THEM
Amazon_Dataset_new.drop(columns = 'New', inplace = True)

C:\Users\Ab\AppData\Local\Temp\ipykernel_7152\902227185.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Amazon_Dataset_new.drop(columns = 'New', inplace = True)

In [160]:
Amazon_Dataset_new.drop(columns = 'PendingS', inplace = True)

C:\Users\Ab\AppData\Local\Temp\ipykernel_7152\2079359670.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Amazon_Dataset_new.drop(columns = 'PendingS', inplace = True)

In [161]:
Amazon_Dataset_new

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,fulfilled-by
0,0,405-8078784-5731545,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,Easy Ship
1,1,171-9198151-1101146,4/30/2022,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,Easy Ship
2,2,404-0687676-7273146,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,NaN
3,3,403-9615377-8133951,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,Easy Ship
4,4,407-1069790-7240320,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128971,128970,406-6001380-7673107,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,False,NaN
128972,128971,402-9551604-7544318,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,M,Shipped,1,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,False,NaN
128973,128972,407-9547469-3152358,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,Blazzer,XXL,Shipped,1,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,False,NaN
128974,128973,402-6184140-0545956,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,XS,Shipped,1,INR,1199.00,Halol,Gujarat,389350.0,IN,False,NaN
128975,128974,408-7436540-8728312,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,S,Shipped,1,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,False,NaN

In [162]:
#OKAY, NOW LET'S START TO TAKE A CLOSER LOOK AT THIS DATASET. USING SHAPE WILL SHOW US THE NUMBER OF ROWS AND COLUMNS AFTER REMOVING DUPLICATES
Amazon_Dataset_new.shape

(128808, 19)

In [163]:
#NOW LET'S LOOK AT THE UNIQUE INFORMATIONS IF WE NEED TO CHANGE DATATYPES, YOU KNOW
Amazon_Dataset_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128808 entries, 0 to 128975
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128808 non-null  int64
 1   Order ID            128808 non-null  object
 2   Date                128808 non-null  object
 3   Status              128808 non-null  object
 4   Fulfilment          128808 non-null  object
 5   Sales Channel       128808 non-null  object
 6   ship-service-level  128808 non-null  object
 7   Category            128808 non-null  object
 8   Size                128808 non-null  object
 9   Courier Status      128808 non-null  object
 10  Qty                 128808 non-null  int64
 11  currency            121019 non-null  object
 12  Amount              121019 non-null  float64
 13  ship-city           128775 non-null  object
 14  ship-state          128775 non-null  object
 15  ship-postal-code    128775 non-null  float64
 16  ship-country        128775 non-null  object
 17  B2B                 128808 non-null  bool
 18  fulfilled-by        39213 non-null   object
dtypes: bool(1), float64(2), int64(2), object(14)
memory usage: 18.8+ MB

In [164]:
#FROM THE ABOVE, WE SEE THAT THERE ARE SOME NULL VALUES IN OUR DATASET. PARTICULARLY, IN THE AMOUNT AND CURRENCY COLUMNS WHICH WE DO NOT WANT
#BUT FIRST, LET'S LOOK AT HOW MANY NULLS ARE THERE
Amazon_Dataset_new.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Category                  0
Size                      0
Courier Status            0
Qty                       0
currency               7789
Amount                 7789
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
B2B                       0
fulfilled-by          89595
dtype: int64

In [165]:
Amazon_Dataset_new['fulfilled-by'].isnull().sum()

89595

In [166]:
Amazon_Dataset_new['fulfilled-by'].unique

<bound method Series.unique of 0         Easy Ship
1         Easy Ship
2               NaN
3         Easy Ship
4               NaN
            ...
128971          NaN
128972          NaN
128973          NaN
128974          NaN
128975          NaN
Name: fulfilled-by, Length: 128808, dtype: object>

In [167]:
#OKAY JUST FROM THE ABOVE, I BELIEVE WE CAN REMOVE FULFILLED BY COLUMN SO...
Amazon_Dataset_new.drop(columns = 'fulfilled-by', inplace = True)

C:\Users\Ab\AppData\Local\Temp\ipykernel_7152\936935709.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Amazon_Dataset_new.drop(columns = 'fulfilled-by', inplace = True)

In [168]:
Amazon_Dataset_new

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,0,405-8078784-5731545,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False
1,1,171-9198151-1101146,4/30/2022,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False
2,2,404-0687676-7273146,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True
3,3,403-9615377-8133951,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False
4,4,407-1069790-7240320,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128971,128970,406-6001380-7673107,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,False
128972,128971,402-9551604-7544318,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,M,Shipped,1,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,False
128973,128972,407-9547469-3152358,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,Blazzer,XXL,Shipped,1,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,False
128974,128973,402-6184140-0545956,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,XS,Shipped,1,INR,1199.00,Halol,Gujarat,389350.0,IN,False
128975,128974,408-7436540-8728312,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,S,Shipped,1,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,False

In [169]:
#OKAY, NOW WE CAN REMOVE ALL NULL VALUES PARTICULARLY IN THE AMOUNT AND CURRENCY COLUMN AS WITH THEM, THAT ROW GETS REALLY UNIMPORTANT SO YHH
Amazon_Dataset_new = Amazon_Dataset_new.dropna()
Amazon_Dataset_new

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,0,405-8078784-5731545,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False
1,1,171-9198151-1101146,4/30/2022,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False
2,2,404-0687676-7273146,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True
3,3,403-9615377-8133951,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False
4,4,407-1069790-7240320,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128971,128970,406-6001380-7673107,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,False
128972,128971,402-9551604-7544318,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,M,Shipped,1,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,False
128973,128972,407-9547469-3152358,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,Blazzer,XXL,Shipped,1,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,False
128974,128973,402-6184140-0545956,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,XS,Shipped,1,INR,1199.00,Halol,Gujarat,389350.0,IN,False
128975,128974,408-7436540-8728312,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,S,Shipped,1,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,False

In [170]:
Amazon_Dataset_new.isnull().sum()

index                 0
Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Category              0
Size                  0
Courier Status        0
Qty                   0
currency              0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
B2B                   0
dtype: int64

In [171]:
#GOOD, WE HAVING OUR DATASET WITHOUT DUPES AND NULL VALUES NOW. I MAY WANT TO RUN A QUICK CHECK IN EACH COLUMN TO FIND OR UNDERSTAND WHAT THE UNIQUE VALUES ARE
#BEFORE MOING ON TO SOLVING SOME BUSINESS QUESTIONS SO YHH
Amazon_Dataset_new

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,0,405-8078784-5731545,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False
1,1,171-9198151-1101146,4/30/2022,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False
2,2,404-0687676-7273146,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True
3,3,403-9615377-8133951,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False
4,4,407-1069790-7240320,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128971,128970,406-6001380-7673107,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,False
128972,128971,402-9551604-7544318,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,M,Shipped,1,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,False
128973,128972,407-9547469-3152358,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,Blazzer,XXL,Shipped,1,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,False
128974,128973,402-6184140-0545956,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,XS,Shipped,1,INR,1199.00,Halol,Gujarat,389350.0,IN,False
128975,128974,408-7436540-8728312,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,S,Shipped,1,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,False

In [129]:
Amazon_Dataset_new['index'].unique()

array([     0,      1,      2, ..., 128972, 128973, 128974], dtype=int64)

In [132]:
Amazon_Dataset_new['Date'].unique()

<DatetimeArray>
['2022-04-30 00:00:00', '2022-04-29 00:00:00', '2022-04-28 00:00:00',
 '2022-04-27 00:00:00', '2022-04-26 00:00:00', '2022-04-25 00:00:00',
 '2022-04-24 00:00:00', '2022-04-23 00:00:00', '2022-04-22 00:00:00',
 '2022-04-21 00:00:00', '2022-04-20 00:00:00', '2022-04-19 00:00:00',
 '2022-04-18 00:00:00', '2022-04-17 00:00:00', '2022-04-16 00:00:00',
 '2022-04-15 00:00:00', '2022-04-14 00:00:00', '2022-04-13 00:00:00',
 '2022-04-12 00:00:00', '2022-04-11 00:00:00', '2022-04-10 00:00:00',
 '2022-04-09 00:00:00', '2022-04-08 00:00:00', '2022-04-07 00:00:00',
 '2022-04-06 00:00:00', '2022-04-05 00:00:00', '2022-04-04 00:00:00',
 '2022-04-03 00:00:00', '2022-04-02 00:00:00', '2022-04-01 00:00:00',
 '2022-03-31 00:00:00', '2022-05-31 00:00:00', '2022-05-30 00:00:00',
 '2022-05-29 00:00:00', '2022-05-28 00:00:00', '2022-05-27 00:00:00',
 '2022-05-26 00:00:00', '2022-05-25 00:00:00', '2022-05-24 00:00:00',
 '2022-05-23 00:00:00', '2022-05-22 00:00:00', '2022-05-21 00:00:00',
 '2022-05-20 00:00:00', '2022-05-19 00:00:00', '2022-05-18 00:00:00',
 '2022-05-17 00:00:00', '2022-05-16 00:00:00', '2022-05-15 00:00:00',
 '2022-05-14 00:00:00', '2022-05-13 00:00:00', '2022-05-12 00:00:00',
 '2022-05-11 00:00:00', '2022-05-10 00:00:00', '2022-05-09 00:00:00',
 '2022-05-08 00:00:00', '2022-05-07 00:00:00', '2022-05-06 00:00:00',
 '2022-05-05 00:00:00', '2022-05-04 00:00:00', '2022-05-03 00:00:00',
 '2022-05-02 00:00:00', '2022-05-01 00:00:00', '2022-06-29 00:00:00',
 '2022-06-28 00:00:00', '2022-06-27 00:00:00', '2022-06-26 00:00:00',
 '2022-06-25 00:00:00', '2022-06-24 00:00:00', '2022-06-23 00:00:00',
 '2022-06-22 00:00:00', '2022-06-21 00:00:00', '2022-06-20 00:00:00',
 '2022-06-19 00:00:00', '2022-06-18 00:00:00', '2022-06-17 00:00:00',
 '2022-06-16 00:00:00', '2022-06-15 00:00:00', '2022-06-14 00:00:00',
 '2022-06-13 00:00:00', '2022-06-12 00:00:00', '2022-06-11 00:00:00',
 '2022-06-10 00:00:00', '2022-06-09 00:00:00', '2022-06-08 00:00:00',
 '2022-06-07 00:00:00', '2022-06-06 00:00:00', '2022-06-05 00:00:00',
 '2022-06-04 00:00:00', '2022-06-03 00:00:00', '2022-06-02 00:00:00',
 '2022-06-01 00:00:00']
Length: 91, dtype: datetime64[ns]

In [131]:
#THE DATE COLUMN IS SHOWING OBJECT STRING WHICH IS BAD. WE NEED TO CHANGE THAT TO DATE
Amazon_Dataset_new['Date'] = pd.to_datetime(Amazon_Dataset_new['Date'])

C:\Users\Ab\AppData\Local\Temp\ipykernel_7152\4001387217.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Amazon_Dataset_new['Date'] = pd.to_datetime(Amazon_Dataset_new['Date'])

In [133]:
#OKAY NOW LET'S SEE
Amazon_Dataset_new['Date'].dtype

dtype('<M8[ns]')

In [134]:
#ALRIGHT, WE CHANGED IT NOW
Amazon_Dataset_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120988 entries, 0 to 128975
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               120988 non-null  int64
 1   Order ID            120988 non-null  object
 2   Date                120988 non-null  datetime64[ns]
 3   Status              120988 non-null  object
 4   Fulfilment          120988 non-null  object
 5   Sales Channel       120988 non-null  object
 6   ship-service-level  120988 non-null  object
 7   Category            120988 non-null  object
 8   Size                120988 non-null  object
 9   Courier Status      120988 non-null  object
 10  Qty                 120988 non-null  int64
 11  currency            120988 non-null  object
 12  Amount              120988 non-null  float64
 13  ship-city           120988 non-null  object
 14  ship-state          120988 non-null  object
 15  ship-postal-code    120988 non-null  float64
 16  ship-country        120988 non-null  object
 17  B2B                 120988 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(12)
memory usage: 16.7+ MB

In [135]:
Amazon_Dataset_new['Status'].unique()

array(['Cancelled', 'Shipped - Delivered to Buyer', 'Shipped',
       'Shipped - Returned to Seller', 'Shipped - Rejected by Buyer',
       'Shipped - Lost in Transit', 'Shipped - Out for Delivery',
       'Shipped - Returning to Seller', 'Shipped - Picked Up', 'Pending',
       'Pending - Waiting for Pick Up', 'Shipped - Damaged'], dtype=object)

In [136]:
Amazon_Dataset_new['Fulfilment'].unique()

array(['Merchant', 'Amazon'], dtype=object)

In [137]:
Amazon_Dataset_new['Sales Channel'].unique()

array(['Amazon.in'], dtype=object)

In [138]:
Amazon_Dataset_new['ship-service-level'].unique()

array(['Standard', 'Expedited'], dtype=object)

In [139]:
Amazon_Dataset_new['Category'].unique()

array(['T-shirt', 'Shirt', 'Blazzer', 'Trousers', 'Perfume', 'Socks',
       'Shoes', 'Wallet', 'Watch'], dtype=object)

In [140]:
Amazon_Dataset_new['Size'].unique()

array(['S', '3XL', 'XL', 'L', 'XXL', 'XS', '6XL', 'M', '4XL', 'Free',
       '5XL'], dtype=object)

In [141]:
Amazon_Dataset_new['Courier Status'].unique()

array(['On the Way', 'Shipped', 'Unshipped'], dtype=object)

In [143]:
Amazon_Dataset_new['Qty'].unique()

array([0, 1, 2, 3, 5, 4, 8], dtype=int64)

In [144]:
Amazon_Dataset_new['currency'].unique()

array(['INR'], dtype=object)

In [145]:
Amazon_Dataset_new['Amount'].unique()

array([ 647.62,  406.  ,  329.  , ...,  708.58, 1244.  ,  639.  ])

In [146]:
Amazon_Dataset_new['ship-city'].unique()

array(['MUMBAI', 'BENGALURU', 'NAVI MUMBAI', ...,
       'GULABPURA, Distt BHILWARA', 'Prayagraj (ALLAHABAD)', 'Halol'],
      dtype=object)

In [147]:
Amazon_Dataset_new['ship-state'].unique()

array(['MAHARASHTRA', 'KARNATAKA', 'PUDUCHERRY', 'TAMIL NADU',
       'UTTAR PRADESH', 'CHANDIGARH', 'TELANGANA', 'ANDHRA PRADESH',
       'RAJASTHAN', 'DELHI', 'HARYANA', 'ASSAM', 'JHARKHAND',
       'CHHATTISGARH', 'ODISHA', 'KERALA', 'MADHYA PRADESH',
       'WEST BENGAL', 'NAGALAND', 'Gujarat', 'UTTARAKHAND', 'BIHAR',
       'JAMMU & KASHMIR', 'PUNJAB', 'HIMACHAL PRADESH',
       'ARUNACHAL PRADESH', 'Goa', 'MEGHALAYA', 'GOA', 'MANIPUR',
       'TRIPURA', 'LADAKH', 'DADRA AND NAGAR', 'SIKKIM', 'Delhi',
       'ANDAMAN & NICOBAR', 'Punjab', 'Rajshthan', 'Manipur', 'rajasthan',
       'Odisha', 'NL', 'Bihar', 'MIZORAM', 'punjab', 'New Delhi',
       'Rajasthan', 'Punjab/Mohali/Zirakpur', 'Puducherry', 'delhi', 'RJ',
       'Chandigarh', 'orissa', 'LAKSHADWEEP', 'goa', 'PB',
       'Arunachal Pradesh', 'AR', 'Pondicherry', 'Sikkim',
       'Arunachal pradesh', 'Nagaland', 'bihar', 'Mizoram', 'rajsthan',
       'Orissa', 'Rajsthan', 'Meghalaya'], dtype=object)

In [148]:
Amazon_Dataset_new['ship-postal-code'].unique()

array([400081., 560085., 410210., ..., 609603., 851205., 629152.])

In [149]:
Amazon_Dataset_new['ship-country'].unique()

array(['IN'], dtype=object)

In [150]:
Amazon_Dataset_new['B2B'].unique()

array([False,  True])

In [151]:
Amazon_Dataset_new['Order ID'].unique()

array(['405-8078784-5731545', '171-9198151-1101146',
       '404-0687676-7273146', ..., '407-9547469-3152358',
       '402-6184140-0545956', '408-7436540-8728312'], dtype=object)

In [155]:
#TO SAVE THIS...
Amazon_Dataset_new.to_csv(r'C:\Users\Ab\Downloads\Amazon_Dataset_new.csv')

In [172]:
Amazon_Dataset_new

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,0,405-8078784-5731545,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False
1,1,171-9198151-1101146,4/30/2022,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False
2,2,404-0687676-7273146,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True
3,3,403-9615377-8133951,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False
4,4,407-1069790-7240320,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128971,128970,406-6001380-7673107,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,False
128972,128971,402-9551604-7544318,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,M,Shipped,1,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,False
128973,128972,407-9547469-3152358,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,Blazzer,XXL,Shipped,1,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,False
128974,128973,402-6184140-0545956,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,XS,Shipped,1,INR,1199.00,Halol,Gujarat,389350.0,IN,False
128975,128974,408-7436540-8728312,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,S,Shipped,1,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,False

In [ ]:
#NOW THAT WE HAVE OUR DATA CLEANED, LET'S TACKLE SOME BUSINESS QUESTIONS
#1. CALCULATE THE TOTAL, AVERAGE, MIN AND MAXIMUM AMOUNT
#2. HOW MANY ORDERS HAS BEEN PLACED SO FAR IN THIS DATASET?
#3. FIND THE TOTAL AMOUNT BY YEAR, MONTH OR DATE
#4. WHICH FULFILLMENT PROCEDURE MADE THE MOST AMOUNT?
#5. WHAT IS THE TOTAL ORDER COUNTS BY STATUS?
#6. CALCULATE THE TOTAL REVENUE MADE BY CATEGORY
# 7. WHICH CATEGORY SIZE CONTRIBUTED THE MOST REVENUE
#8. WHAT IS THE TOTAL AMOUNT GARNERED BY SHIP-CITY
#9. FIND THE TOTAL ORDER COUNTS BY COURIER STATUS
#10. KINDLY GROUP THE TOTAL  ORDERS AND TOTAL AMOUNT BY B2B

In [173]:
#1A
Amazon_Dataset_new['Amount'].sum()

78478115.39

In [174]:
#1B
Amazon_Dataset_new['Amount'].mean()

648.6437943432406

In [175]:
#1c
Amazon_Dataset_new['Amount'].min()

0.0

In [176]:
#1D
Amazon_Dataset_new['Amount'].max()

5584.0

In [182]:
#2

Amazon_Dataset_new['Order ID'].count()

120988

In [187]:
date_col = pd.DatetimeIndex(Amazon_Dataset_new['Date'])
Amazon_Dataset_new['Year'] = date_col.year
Amazon_Dataset_new['Month'] = date_col.month
Amazon_Dataset_new['Day'] = date_col.day

C:\Users\Ab\AppData\Local\Temp\ipykernel_7152\3178753939.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Amazon_Dataset_new['Year'] = date_col.year
C:\Users\Ab\AppData\Local\Temp\ipykernel_7152\3178753939.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Amazon_Dataset_new['Month'] = date_col.month
C:\Users\Ab\AppData\Local\Temp\ipykernel_7152\3178753939.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Amazon_Dataset_new['Day'] = date_col.day

In [198]:
Amazon_Dataset_new

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,...,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,Year,Month,Day,Week_Day
0,0,405-8078784-5731545,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,...,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,2022,4,30,5
1,1,171-9198151-1101146,4/30/2022,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,...,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,2022,4,30,5
2,2,404-0687676-7273146,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,...,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,2022,4,30,5
3,3,403-9615377-8133951,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,...,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,2022,4,30,5
4,4,407-1069790-7240320,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,...,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,2022,4,30,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128971,128970,406-6001380-7673107,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,...,517.00,HYDERABAD,TELANGANA,500013.0,IN,False,2022,5,31,1
128972,128971,402-9551604-7544318,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,M,Shipped,...,999.00,GURUGRAM,HARYANA,122004.0,IN,False,2022,5,31,1
128973,128972,407-9547469-3152358,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,Blazzer,XXL,Shipped,...,690.00,HYDERABAD,TELANGANA,500049.0,IN,False,2022,5,31,1
128974,128973,402-6184140-0545956,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,XS,Shipped,...,1199.00,Halol,Gujarat,389350.0,IN,False,2022,5,31,1
128975,128974,408-7436540-8728312,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,S,Shipped,...,696.00,Raipur,CHHATTISGARH,492014.0,IN,False,2022,5,31,1

In [194]:
#3A
Amazon_Dataset_new.groupby('Year')['Order ID'].count()

Year
2022    120988
Name: Order ID, dtype: int64

In [195]:
#3B
Amazon_Dataset_new.groupby('Month')['Order ID'].count()

Month
3      162
4    45894
5    39525
6    35407
Name: Order ID, dtype: int64

In [196]:
#3C
Amazon_Dataset_new.groupby('Day')['Order ID'].count()

Day
1     4495
2     4717
3     4661
4     4601
5     4389
6     4242
7     4237
8     4446
9     4243
10    3974
11    3865
12    3872
13    3924
14    4260
15    4180
16    3972
17    3759
18    3764
19    3823
20    3957
21    3899
22    3909
23    3856
24    3801
25    3735
26    3694
27    3627
28    3723
29    3186
30    2706
31    1471
Name: Order ID, dtype: int64

In [197]:
Amazon_Dataset_new['Week_Day'] = date_col.weekday

C:\Users\Ab\AppData\Local\Temp\ipykernel_7152\1848588911.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Amazon_Dataset_new['Week_Day'] = date_col.weekday

In [199]:
#3D
Amazon_Dataset_new.groupby('Week_Day')['Order ID'].count()

Week_Day
0    17448
1    17621
2    17411
3    16021
4    16562
5    17430
6    18495
Name: Order ID, dtype: int64

In [200]:
Amazon_Dataset_new

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,...,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,Year,Month,Day,Week_Day
0,0,405-8078784-5731545,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,...,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,2022,4,30,5
1,1,171-9198151-1101146,4/30/2022,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,...,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,2022,4,30,5
2,2,404-0687676-7273146,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,...,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,2022,4,30,5
3,3,403-9615377-8133951,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,...,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,2022,4,30,5
4,4,407-1069790-7240320,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,...,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,2022,4,30,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128971,128970,406-6001380-7673107,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,...,517.00,HYDERABAD,TELANGANA,500013.0,IN,False,2022,5,31,1
128972,128971,402-9551604-7544318,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,M,Shipped,...,999.00,GURUGRAM,HARYANA,122004.0,IN,False,2022,5,31,1
128973,128972,407-9547469-3152358,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,Blazzer,XXL,Shipped,...,690.00,HYDERABAD,TELANGANA,500049.0,IN,False,2022,5,31,1
128974,128973,402-6184140-0545956,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,XS,Shipped,...,1199.00,Halol,Gujarat,389350.0,IN,False,2022,5,31,1
128975,128974,408-7436540-8728312,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,T-shirt,S,Shipped,...,696.00,Raipur,CHHATTISGARH,492014.0,IN,False,2022,5,31,1

In [ ]:
#NOW THAT WE HAVE OUR DATA CLEANED, LET'S TACKLE SOME BUSINESS QUESTIONS
#1. CALCULATE THE TOTAL, AVERAGE, MIN AND MAXIMUM AMOUNT
#2. HOW MANY ORDERS HAS BEEN PLACED SO FAR IN THIS DATASET?
#3. FIND THE TOTAL AMOUNT BY YEAR, MONTH OR DATE
#4. WHICH FULFILLMENT PROCEDURE MADE THE MOST AMOUNT?
#5. WHAT IS THE TOTAL ORDER COUNTS BY STATUS?
#6. CALCULATE THE TOTAL REVENUE MADE BY CATEGORY
# 7. WHICH CATEGORY SIZE CONTRIBUTED THE MOST REVENUE
#8. WHAT IS THE TOTAL AMOUNT GARNERED BY SHIP-CITY(TOP 5) AND BOTTOM 5
#9. FIND THE TOTAL ORDER COUNTS BY COURIER STATUS
#10. KINDLY GROUP THE TOTAL  ORDERS AND TOTAL AMOUNT BY B2B

In [208]:
#4
Amazon_Dataset_new.groupby('Fulfilment')['Amount'].sum().sort_values

<bound method Series.sort_values of Fulfilment
Amazon      54251299.00
Merchant    24226816.39
Name: Amount, dtype: float64>

In [211]:
#5
Amazon_Dataset_new.groupby('Status')['Order ID'].count().sort_values(ascending = False)

Status
Shipped                          77489
Shipped - Delivered to Buyer     28700
Cancelled                        10746
Shipped - Returned to Seller      1946
Shipped - Picked Up                973
Pending                            656
Pending - Waiting for Pick Up      281
Shipped - Returning to Seller      145
Shipped - Out for Delivery          35
Shipped - Rejected by Buyer         11
Shipped - Lost in Transit            5
Shipped - Damaged                    1
Name: Order ID, dtype: int64

In [212]:
#6
Amazon_Dataset_new.groupby('Category')['Amount'].sum().sort_values(ascending = False)

Category
T-shirt     39145184.17
Shirt       21261760.70
Blazzer     11207771.12
Trousers     5340325.30
Perfume       789419.66
Wallet        458408.18
Socks         150397.50
Shoes         123933.76
Watch            915.00
Name: Amount, dtype: float64

In [214]:
#7
Amazon_Dataset_new.groupby(['Category', 'Size'])['Amount'].sum().sort_values(ascending = False)

Category  Size
T-shirt   M       7294021.89
          L       6344399.91
          XL      5929061.97
          S       5821212.31
          XXL     4757260.85
          3XL     4526568.41
          XS      4257239.52
Shirt     L       3724711.17
          XL      3627000.95
          M       3540845.45
          XXL     3215164.90
          3XL     2450255.96
          S       2348818.64
Blazzer   L       2024665.69
          M       1878286.49
          XL      1724742.99
          S       1602174.85
          XXL     1572191.94
          3XL     1406828.11
Shirt     XS      1236263.34
Blazzer   XS       998881.05
Trousers  M        942146.71
          XL       931616.84
          L        899445.86
          XXL      883294.99
Perfume   Free     789419.66
Trousers  3XL      617743.81
          S        616811.62
Shirt     6XL      485831.26
Wallet    Free     458408.18
Trousers  XS       449265.47
Shirt     5XL      357467.63
          4XL      275401.40
Shoes     Free     123933.76
T-shirt   6XL       90418.07
          5XL       67689.00
          4XL       57312.24
Socks     XL        25879.63
          L         25031.21
          3XL       24332.63
          XXL       23482.96
          S         22598.76
          M         19580.59
          XS         9491.72
Watch     Free        915.00
Name: Amount, dtype: float64

In [215]:
#8A
Amazon_Dataset_new.groupby('ship-city')['Amount'].sum().sort_values(ascending = False).head(5)

ship-city
BENGALURU    6836614.65
HYDERABAD    4941790.25
MUMBAI       3696704.04
NEW DELHI    3608277.78
CHENNAI      3098745.74
Name: Amount, dtype: float64

In [216]:
#8B
Amazon_Dataset_new.groupby('ship-city')['Amount'].sum().sort_values(ascending = False).tail(5)

ship-city
BALAPUR MIDC               0.0
TARBHA                     0.0
Kadiri                     0.0
Calicut medical college    0.0
Haringhata                 0.0
Name: Amount, dtype: float64

In [218]:
#9
Amazon_Dataset_new.groupby('Courier Status')['Order ID'].count().sort_values(ascending = True)

Courier Status
On the Way      5124
Unshipped       6549
Shipped       109315
Name: Order ID, dtype: int64

In [ ]:
#10A
Amazon_Dataset_new.groupby('B2B')['Order ID'].count().sort_values(ascending = False)

In [ ]:
#10B
Amazon_Dataset_new.groupby('B2B')['Amount'].sum().sort_values(ascending = False)